# American Time Use Survey Analysis

## Imports and Load Config File

In [40]:
import pandas as pd
import numpy as np
import yaml as yml
import matplotlib.pyplot as plt

# Specify the path to the YAML file
yaml_file_path = 'config.atus.yml'

# Open and read the YAML file
with open(yaml_file_path, 'r') as file:
    yaml_data = yml.safe_load(file)

working_directory = yaml_data["Working_Directory"]
data_dir = yaml_data["Data_Directory"]
year = yaml_data["Year"]
dataset_type = yaml_data["Dataset_Type"]
dataset_dir = f"{data_dir}/{year}/atus{dataset_type}_{year}/atus{dataset_type}_{year}.dat"
print(f"Retreiving From: {dataset_dir}")

Retreiving From: /mnt/c/Users/hunte/Proton Drive/whbarndt/My files/Sharing-Is-Caring/Projects/ATUS/Datasets/2013/atusact_2013/atusact_2013.dat

## Load Data

In [41]:
dataset = pd.read_csv(dataset_dir)

## Visualize Data

In [42]:
dataset

,TUCASEID,TUACTIVITY_N,TEWHERE,TRTCCTOT_LN,TRTCC_LN,TRTCOC_LN,TRTEC_LN,TRTHH_LN,TRTNOHH_LN,TRTOHH_LN,...,TUDURSTOP,TUEC24,TUSTARTTIM,TUSTOPTIME,TUTIER1CODE,TUTIER2CODE,TUTIER3CODE,TRCODE,TRTIER2,TXWHERE
0,20130101130004,1,-1,0,0,0,-1,0,0,-1,...,2,-1,04:00:00,12:00:00,1,1,1,10101,101,0
1,20130101130004,2,1,5,5,0,-1,5,5,-1,...,1,-1,12:00:00,12:05:00,11,1,1,110101,1101,0
2,20130101130004,3,1,120,120,0,-1,120,120,-1,...,1,-1,12:05:00,14:05:00,12,3,3,120303,1203,0
3,20130101130004,4,1,0,0,0,-1,0,0,-1,...,2,-1,14:05:00,19:00:00,6,3,1,60301,603,0
4,20130101130004,5,1,30,30,0,-1,30,30,-1,...,1,-1,19:00:00,19:30:00,11,1,1,110101,1101,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215571,20131212132488,22,1,0,0,0,-1,0,-1,0,...,1,-1,17:45:00,18:45:00,2,2,1,20201,202,0
215572,20131212132488,23,1,0,0,0,-1,0,-1,0,...,1,-1,18:45:00,19:30:00,11,1,1,110101,1101,0
215573,20131212132488,24,1,0,0,0,-1,0,-1,0,...,1,-1,19:30:00,21:30:00,12,3,3,120303,1203,0
215574,20131212132488,25,1,0,0,0,-1,0,-1,0,...,1,-1,21:30:00,21:35:00,3,1,1,30101,301,0
215575,20131212132488,26,-1,0,0,0,-1,0,-1,0,...,2,-1,21:35:00,05:00:00,1,1,1,10101,101,0